@page "/about"
@rendermode InteractiveServer


<div>
    <p>Phần mềm được viết bởi Phạm Quý Mười</p>
</div>


<div>
    <p> Nếu bạn thấy chương trình này hữu ích đối với bạn, hãy mời tôi một li cafe! Cảm ơn bạn! </p>
</div>


